:root{
    --colorPrimario: #199754;;
    --colorSecundario: #fff;
}
#somos{
    display: flex;
    background: var(--colorSecundario);
    justify-content: center;
    margin-top: 0px;
    padding: 20px;
    align-items: center;
}
#mision{
    display: flex;
    background: var(--colorPrimario);
    justify-content: center;
    margin-top: 0px;
    padding: 20px;
    align-items: center;
}
#vision{
    display: flex;
    background: var(--colorSecundario);
    justify-content: center;
    margin-top: 0px; 
    padding: 20px;
    align-items: center;
}
.txt-somos{
    color: rgb(1, 20, 1);
    border: 1px solid rgb(194, 209, 196);
    border-radius: 32px;
    width: 50%;
    padding: 20px;
    font-family: Arial;
}
.txt-somos:hover{
    background: rgb(175, 199, 179);
    border: 2px solid rgb(219, 237, 221);
    color: black;
}
.txt-mision{
    color: rgb(1, 15, 2);
    /* border: 1px solid rgb(36, 88, 41); */
    border-radius: 32px;
    padding: 20px;
    width: 30%;
    height: 40%;
    font-family: Arial;
}
.txt-mision:hover{
    background: #158047;;
    border: 2px solid rgb(219, 237, 221);
}
.txt-vision{
    color: rgb(1, 20, 1);
    border: 1px solid rgb(194, 209, 196);
    border-radius: 32px;
    width: 50%;
    padding: 20px;
    font-family: Arial;
}
.txt-vision:hover{
    background: rgb(175, 199, 179);
    border: 2px solid rgb(160, 230, 168);
    color: black;
}
.img-conatiner{
    display: flex;
    width: 50%;
}
.imgAcerca{
    width: 400px;
    height: 400px; 
}

#estructura-equipos{
    background: var(--colorPrimario);
    margin-top: 0px;
}
.contenedor{
    margin: 20px;
    padding: 10px;
}
.txt-estructura{
    text-align: center;
    color: rgb(1, 20, 1);
    width: 100%;
    padding: 20px;
    font-family: Arial;
}
.tiposEstructuras{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.estucturaEquipo{
    background: var(--colorPrimario);
    margin: 8px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
}
.estucturaEquipo:hover{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.estucturaEquipo h1{
    font-size: 19px;
    margin-top: 15px;
}
.estucturaEquipo p{
    font-size: 13px;
}

#politicas{
    background: var(--colorSecundario);
    margin-top: 0px;
}
.txt-politicas{
    text-align: center;
    color: rgb(1, 20, 1);
    width: 100%;
    padding: 20px;
    font-family: Arial;
}
.imgPoliticas{
    width: 300PX;
    height: 300px;
}
#objetivos-sistema{
    background: var(--colorPrimario);
    margin-top: 0px;
}
.txt-objetivo{
    text-align: center;
    width: 100%;
    padding: 20px;
    font-family: Arial;
}
.lista-objetivos{
    display: flex;
    justify-content: center;
}
.objetivo{
    background: var(--colorPrimario);
    margin: 8px;
    padding: 20px;
    width: 40%;
    text-align: center;
}
.objetivo h1{
    font-size: 24px;
}
.objetivo h1:hover{
    font-size: 26px;
}
.objetivo p{
    font-size: 16px;
}
.objetivo p:hover{
    font-size: 18px;
    border-bottom: 2px solid #105e34;
}
.ico{
    width: 50px;
    height: 50px;
    margin-right: 8px;
}