#servicio{
    display: flex;
    background: transparent;
    justify-content: center;
    margin: 8px 0px 8px 0px;
    padding: 20px;
    align-items: center;
}
#servicio div{
    margin: 5px;
}
.imgServicio{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    /* display: none; */
}
.txt-servicio{
    border: 1px solid rgb(194, 209, 196);
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    font-family: Arial;
    height: 400px;
    background: transparent;
}
.txt-servicio:hover{
    background: rgb(232, 239, 233);
    border: 1px solid rgb(219, 237, 221);
}
.txt-servicio h1{
    font-size: 35px;
}
.txt-servicio p{
    font-size: 16px;
}
.servicio-img{
    display: flex;
    background-color: rgba(55, 118, 174, 0.333);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    border-radius: 20px;
    width: 400px;
    height: 400px;
}
.textServices{
    color: white;
    font-size: 19px;
}
#NavServicios{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.textIntroService{
    margin: 0px;
    text-align: center;
}
.titleService{
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 0px;
}
#SectionNavServices{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.contenedorNavs{
    display: block;
    text-align: center;
    width: 800px;
}
.divBtnService{
    margin: 2px 0px 2px 0px;
    border: 1.5px solid rgb(30, 232, 144);
    padding: 5px;
    background: #199754;
    width: 100%;
}
.divBtnService:hover{
    background-color: #32a9d3;
    color: white;
}
.btNavServices{
    color:rgb(223, 249, 247);
    font-weight: 100;
}
.btNavServices:hover{
    color: white;
}


.final{
    margin-bottom: 60px;
}
